.leadgen
  .container
    .row
      .col-md-6
        .promo
          .big-spacer.hidden-xs.hidden-sm
          %h2.primary
            Your Personal Fitness Coach
          %p.lead
            %span Mighty
            connects you with trained fitness professionals who can help you reach your goals. All within your own neighborhood!
      .col-md-2
      .col-md-4
        .slide-wrap
          .slide-strip
            .slide.objective
              .panel.signup
                .panel-heading
                  %h4 Ready to find your trainer?
                  %p Tell us what you'd like to work on.
                .panel-body
                  %h2 I want to:
                  %ul.list-unstyled
                    %li
                      = link_to "#", class: "panel objective-link" do
                        .panel-body
                          = image_tag("icon-scale.png")
                          %h4 Lose Weight
                    %li
                      = link_to "#", class: "panel objective-link" do
                        .panel-body
                          = image_tag("icon-tone.png")
                          %h4 Get Toned
                    %li
                      = link_to "#", class: "panel objective-link" do
                        .panel-body
                          = image_tag("icon-weights.png")
                          %h4 Get Stronger
                    %li
                      = link_to "#", class: "panel objective-link" do
                        .panel-body
                          = image_tag("icon-run.png")
                          %h4 Finish a Race
            .slide
              .panel.signup
                .panel-heading
                  %h4 Ready to find your trainer?
                  %p Tell us what you'd like to work on.
                .panel-body
                  %h2 I want to:
                  %ul.list-unstyled
                    %li
                      = link_to "#", class: "panel" do
                        .panel-body
                          = image_tag("icon-scale.png")
                          %h4 Lose Weight
                    %li
                      = link_to "#", class: "panel" do
                        .panel-body
                          = image_tag("icon-tone.png")
                          %h4 Get Toned
                    %li
                      = link_to "#", class: "panel" do
                        .panel-body
                          = image_tag("icon-weights.png")
                          %h4 Get Stronger
                    %li
                      = link_to "#", class: "panel" do
                        .panel-body
                          = image_tag("icon-run.png")
                          %h4 Finish a Race
            .slide
              .panel.signup
                .panel-heading
                  %h4 Ready to find your trainer?
                  %p Tell us what you'd like to work on.
                .panel-body
                  %h2 I want to:
                  %ul.list-unstyled
                    %li
                      = link_to "#", class: "panel" do
                        .panel-body
                          = image_tag("icon-scale.png")
                          %h4 Lose Weight
                    %li
                      = link_to "#", class: "panel" do
                        .panel-body
                          = image_tag("icon-tone.png")
                          %h4 Get Toned
                    %li
                      = link_to "#", class: "panel" do
                        .panel-body
                          = image_tag("icon-weights.png")
                          %h4 Get Stronger
                    %li
                      = link_to "#", class: "panel" do
                        .panel-body
                          = image_tag("icon-run.png")
                          %h4 Finish a Race
.secondary
  .container
    %h2
      How It Works
    %p.lead
      Check out the following classes being taught in
      %span New York, NY
    .row
      .col-md-4
        %img{:src => asset_url("icon-bike.png")}/
        %h4 Classes in Topics You Like
        %p Find experts for everything from photography and fitness, to cooking and makeup.
      .col-md-4
        %img{:src => asset_url("icon-clock.png")}/
        %h4 Learn Together in Small Groups
        %p Have fun while learning by working with others and participating in group activities.
      .col-md-4
        %img{:src => asset_url("icon-prize.png")}/
        %h4 Intuitive Feedback System
        %p Trainers earn feedback and ratings after each session, fostering a positive ecosystem.
/ .trainers
/   .container
/     %h3
/       Some of our trainers located in
/       %span New York, NY
/     .row
/       .col-md-3
/         %a{:href => "#"}
/           .panel
/             .panel-heading
/               %h3 Randy Moore
/             .panel-body
/               %p I've been training clients for the last six years, focusing on strength-training, HIIT and calesthenics.
/             .panel-footer.clearfix
/               .price.pull-left
/                 $30
/                 %span /hr
/               %ul.list-inline.rating.pull-right
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-empty.png")}/
/       .col-md-3
/         %a{:href => "#"}
/           .panel
/             .panel-heading
/               %h3 Randy Moore
/             .panel-body
/               %p I've been training clients for the last six years, focusing on strength-training, HIIT and calesthenics.
/             .panel-footer.clearfix
/               .price.pull-left
/                 $30
/                 %span /hr
/               %ul.list-inline.rating.pull-right
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-empty.png")}/
/       .col-md-3
/         %a{:href => "#"}
/           .panel
/             .panel-heading
/               %h3 Randy Moore
/             .panel-body
/               %p I've been training clients for the last six years, focusing on strength-training, HIIT and calesthenics.
/             .panel-footer.clearfix
/               .price.pull-left
/                 $30
/                 %span /hr
/               %ul.list-inline.rating.pull-right
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-empty.png")}/
/       .col-md-3
/         %a{:href => "#"}
/           .panel
/             .panel-heading
/               %h3 Randy Moore
/             .panel-body
/               %p I've been training clients for the last six years, focusing on strength-training, HIIT and calesthenics.
/             .panel-footer.clearfix
/               .price.pull-left
/                 $30
/                 %span /hr
/               %ul.list-inline.rating.pull-right
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-full.png")}/
/                 %li
/                   %img{:src => asset_url("icon-star-empty.png")}/
/ .testimonials
/   .container
/     .row
/       .col-md-7.quote
/         %em &quot; I haven't been able to find a single reliable source that provides info on personal trainers. Mighty is that.
/         %strong - Marky Mark
/       .col-md-5
/         .panel.panel-primary
/           .panel-body
/             %p.lead Enter your email address below and we'll notify you as soon as we launch.
/             %form#mc-form{:action => "//mightyapp.us9.list-manage.com/subscribe/post-json?u=25a48cb83e69e6c3264060fd0&amp;id=3ac7587d0e&amp;c=?", :role => "form"}
/               .input-group
/                 %input.form-control{:name => "EMAIL", :placeholder => "Email address", :required => "", :type => "email", :value => ""}/
/                 %span.input-group-btn
/                   %button#mc-subscribe.btn.btn-danger{:name => "subscribe", :type => "submit", :value => "Subscribe"} Request Invite
