.leadgen
  .container
    .splash-cont
      .promo
        %h1 Priceline for Personal Trainers
        %p.lead
          Name your goals. Name your own price.
      .slide-wrap
        .slide-strip
          .slide.objective.current
            .panel.lead-form
              .panel-heading
                %h4 Ready to find your coach?
                %p Tell us what you'd like to work on.
              .panel-body
                %h2 I want to:
                %ul.list-unstyled
                  %li
                    = link_to "#", class: "panel objective-link", data: {name: "Lose Weight", value: "lose-weight"} do
                      .panel-body
                        = image_tag("icon-scale.png")
                        %h4 Lose Weight
                  %li
                    = link_to "#", class: "panel objective-link", data: {name: "Get Toned", value: "get-toned"} do
                      .panel-body
                        = image_tag("icon-tone.png")
                        %h4 Get Toned
                  %li
                    = link_to "#", class: "panel objective-link", data: {name: "Get Stronger", value: "get-stronger"} do
                      .panel-body
                        = image_tag("icon-weights.png")
                        %h4 Get Stronger
                  %li
                    = link_to "#", class: "panel objective-link", data: {name: "Finish a Race", value: "finish-race"} do
                      .panel-body
                        = image_tag("icon-run.png")
                        %h4 Finish a Race
          .slide.personalize
            .panel.lead-form
              .panel-heading
                = link_to "#", class: "prev-slide" do
                  = image_tag("icon-signup-back.png")
                %h4
                  Great! You want to
                  %span
                %p Now tell us a little about yourself
              .panel-body
                .form-alerts
                %form#find-trainer-form{:role => "form"}
                  %input{type: "hidden", id: "objective", name: "objective"}
                  .form-group
                    %label{:for => "activities"} What activities do you enjoy?
                    %input{type: "hidden", id: "activities", name: "activities"}
                    .activities
                      = link_to "Running", "#", class: "label label-default"
                      = link_to "Swimming", "#", class: "label label-default"
                      = link_to "Biking", "#", class: "label label-default"
                      = link_to "Yoga", "#", class: "label label-default"
                      = link_to "Pilates", "#", class: "label label-default"
                      = link_to "Crossfit", "#", class: "label label-default"
                      = link_to "Tennis", "#", class: "label label-default"
                  .form-group
                    %label{for: "price"} How much are you willing to pay for this?
                    .row
                      .col-md-9.col-sm-9.col-xs-9
                        %input#pricepoint{"data-slider-id" => "price-slider", "data-slider-max" => "200", "data-slider-min" => "20", "data-slider-step" => "5", "data-slider-value" => "80", type: "text", name: "pricepoint"}
                      .col-md-3.col-sm-3.col-xs-3.no-padding-left
                        .price-update.badge
                          = raw("$<span class='price-input'>60</span>")
                    %span.glyphicon.glyphicon-ok.form-control-feedback
                  .row
                    .col-md-6
                      .form-group
                        %label{:for => "email"} What's your email address?
                        %input#email.form-control{placeholder: "Enter email", type: "email", name: "email", required: "required"}
                        %span.glyphicon.glyphicon-ok.form-control-feedback
                    .col-md-6
                      .form-group
                        %label{:for => "start-date"} When can you start?
                        .date-input
                          %input#startdate.datepicker.form-control{placeholder: "Click to select", type: "text", name: "startdate", required: "required"}
                          %span.glyphicon.glyphicon-calendar
                        %span.glyphicon.glyphicon-ok.form-control-feedback

                  %button.btn.btn-submit.btn-success.btn-lg{type: "submit"} Find My Coach &raquo;

          .slide.finish
            .panel.lead-form
              .panel-body
                = image_tag("icon-checkmark-big.png")
                %h3 Sweet, we're on it!
                %p.lead
                  We're hot on the search for your perfect fitness coach. We'll send you an email as soon as we've located them (usually within 24 hours).

= render partial: "home/how_it_works"
= render partial: "home/testimonials"
